
h1{
    text-align: center;
}


.map-div{
    /* border: 2px solid red; */
    background-color: blanchedalmond;
    margin: 0 auto;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}